<ul class="nav nav-pills w-100 p-3">
  <!-- Branding (AutoMLPredict) - Positioned on the left -->
  <li class="nav-item">
    <a class="nav-link fw-bold text-tertiary" href="/" style="pointer-events: none;">AutoMLPredict</a>
  </li>
  
  <!-- Navigation Items - Aligning to the right -->
  <li class="nav-item ms-auto">
    <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="/">Home</a>
  </li>
  <li class="nav-item ms-auto">
    <a class="nav-link {% if request.path == '/data-inspection' %}active{% endif %}" href="/data-inspection">Data Inspection</a>
  </li>
  <li class="nav-item ms-auto">
    <a class="nav-link {% if request.path == '/data-visualization' %}active{% endif %}" href="/data-visualization">Data Visualization</a>
  </li>
  <li class="nav-item ms-auto">
    <a class="nav-link {% if request.path == '/model-selection' %}active{% endif %}" href="/model-selection">Model Selection</a>
  </li>
  <li class="nav-item ms-auto">
    <a class="nav-link {% if request.path == '/model-evaluation' %}active{% endif %}" href="/model-evaluation">Model Evaluation</a>
  </li>
  <li class="nav-item ms-auto">
    <a class="nav-link {% if request.path == '/model-prediction' %}active{% endif %}" href="/model-prediction">Model Prediction</a>
  </li>
</ul>
